<div class="container-fluid">
    <div style="height: 640px;">
            <div class="mainDiv">
                <h2 class="first">We bring people together. <br>Love unites them...</h2>
                <div class="row" style="color: white;position: relative;">
        <!-- <div class="form-wrapper">

            <form>
                <div class="form-row">
                    <div class="form-group col-md-2 col-6"><label class="label" for="lookingFor">I'm looking for
                            a</label>
                        <div class="Dropdown-root">
                            <div class="Dropdown-control" aria-haspopup="listbox">
                                <div class="Dropdown-placeholder is-selected">Woman</div>
                                <div class="Dropdown-arrow-wrapper"><span class="Dropdown-arrow"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-6"><label class="label">aged</label>
                        <div class="ageWrap">
                            <div class="ageFrom">
                                <div class="Dropdown-root">
                                    <div class="Dropdown-control" aria-haspopup="listbox">
                                        <div class="Dropdown-placeholder is-selected">20</div>
                                        <div class="Dropdown-arrow-wrapper"><span class="Dropdown-arrow"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ageTo">to</div>
                            <div class="ageUpto">
                                <div class="Dropdown-root">
                                    <div class="Dropdown-control" aria-haspopup="listbox">
                                        <div class="Dropdown-placeholder is-selected">25</div>
                                        <div class="Dropdown-arrow-wrapper"><span class="Dropdown-arrow"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-6"><label class="label" for="inputPassword4">of religion</label>
                        <div class="Dropdown-root">
                            <div class="Dropdown-control" aria-haspopup="listbox">
                                <div class="Dropdown-placeholder is-selected">Select</div>
                                <div class="Dropdown-arrow-wrapper"><span class="Dropdown-arrow"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-6"><label class="label" for="inputPassword4">and mother
                            tongue</label>
                        <div class="Dropdown-root">
                            <div class="Dropdown-control" aria-haspopup="listbox">
                                <div class="Dropdown-placeholder is-selected">Select</div>
                                <div class="Dropdown-arrow-wrapper"><span class="Dropdown-arrow"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-12 btnWrap"><label class="label btnLable"
                            for="inputPassword4">&nbsp;</label><button data-testid="lets_begin" type="button"
                            class="btn btn-primary form-control brand">Let's Begin</button></div>
                </div>
            </form>

        </div> -->
    </div>
            <!-- </div> -->
    </div>





</div>