<div class="container-fluid">
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close text-right" (click)="close()">&times;</span>
            <div class="mx-3" *ngIf="isSignup">
                <h2 class="popup-header">
                    Let's set up your account, while
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;we find Matches for you!
                </h2>
                <!-- <form> -->
                <!-- <label>Enter your email id</label>
                <input type="text"> -->
                <div class="login">
                    <form [formGroup]="loginForm" class="login-container" (Submit)="login()">
                        Enter your email id
                        <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
                            <input type="email" placeholder="Email" formControlName="email">
                        </p>

                        <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
                            <div *ngIf="formControls.email.errors.required">Email is required</div>
                        </div>
                        Create a password
                        <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                            <input type="password" placeholder="Password" formControlName="password">
                        </p>

                        <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                            <div *ngIf="formControls.password.errors.required">Password is required</div>
                        </div>
                        Confirm password
                        <p [ngClass]="{ 'has-error': isSubmitted && formControls.confirmPassword.errors }">
                            <input type="password" placeholder="Password" formControlName="confirmPassword">
                        </p>

                        <div *ngIf="isSubmitted && formControls.confirmPassword.errors" class="help-block">
                            <div *ngIf="formControls.confirmPassword.errors.required">Password is required
                            </div>
                        </div>
                        <span class="mr-3">Create Profile for</span>
                        <!-- <br> -->
                        <div class="btn-group mb-3 drpdwn">
                            <button type="button" class="btn btn-info">Action</button>
                            <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                        <br />
                        <button type="button" class="login btn btn-info">Next</button>
                        <span class="ml-5">Already a Member? <a (click)="isSignup=false;isLogin=true;">Login</a></span>
                    </form>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                #email="ngModel" required aria-describedby="emailHelp" [(ngModel)]="user.email"
                                placeholder="Enter email">
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

                                <div *ngIf="email.errors.required">
                                    Name is required.
                                </div>
                                <div *ngIf="email.errors.minlength">
                                    Name must be at least 4 characters long.
                                </div>
                                <!-- <div *ngIf="email.errors.forbiddenName">
                                  Name cannot be Bob.
                                </div> -->

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control" [(ngModel)]="user.password"
                                id="exampleInputPassword1" placeholder="Password" #password="ngModel" required>
                            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                class="alert alert-danger">
                                <div *ngIf="password.errors.required">
                                    Password is required.
                                </div>
                                <div *ngIf="password.errors.minlength">
                                    Password must be at least 4 characters long.
                                </div>
                            </div>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <!-- </form> -->
            </div>
            <div class="mx-3" *ngIf="isLogin">
                <div class="text-center">
                    <img src="https://img2.shaadi.com/assests/2016/images/home-page-layer-logo.png"
                        alt="Login to shaadi.com" style="margin: 9px auto 30px; height: 87px; width: 87px;">
                    <h2 class="popup-header">
                        Welcome Back
                        <br>Please Login
                    </h2>
                </div>
                <form>
                    <div class="login">
                        <form [formGroup]="loginForm" class="login-container" (Submit)="login()">
                            Mobile No. / Email ID
                            <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
                                <input type="email" placeholder="Email" formControlName="email">
                            </p>

                            <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
                                <div *ngIf="formControls.email.errors.required">Email is required</div>
                            </div>
                            Create a password
                            <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                                <input type="password" placeholder="Password" formControlName="password">
                            </p>

                            <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                                <div *ngIf="formControls.password.errors.required">Password is required</div>
                            </div>


                            <button type="button" class="login btn btn-info">Sign In</button>
                            <p class="text-center">
                                <span>New to Shaadi.com?</span><br>
                                <a (click)="isSignup=true;isLogin=false;">Sign Up Free</a>
                            </p>

                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="#">Christian Matrimony</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login/Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <span class="navbar-text">
                Search
            </span>
        </div>
    </nav>

    <!-- The overlay -->
    <div id="myNav" class="overlay">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

        <!-- Overlay content -->
        <div class="overlay-content">
            <a href="#">About</a>
            <a (click)="openPopup();closeNav()">Login</a>
            <a (click)="openPopup();closeNav()">Signup</a>
            <a href="#">Contact</a>
        </div>

    </div>

    <!-- Use any element to open/show the overlay navigation menu -->
    <!-- <span (click)="openNav()" class="ml-2" style="font-size: 33px;"><i class="fa fa-bars" aria-hidden="true"></i>
    </span>
    <div></div> -->
    <!-- <div id="mySidenav" class="sidenav">
                <a href="#" id="about">About</a>
                <a href="#" id="blog">Blog</a>
                <a href="#" id="projects">Signup</a>
                <a href="#" id="login" (click)="isSignup= true">Login</a>
                <a href="#" id="contact">Contact</a>
            </div> -->
    <!-- <div style="height: 640px;">
        <slideshow [imageUrls]="imageUrlArray"
        [height]="'525px'"
           [minHeight]="'525px'"
           [autoPlay]="true"
           [showArrows]="false"
           [lazyLoad]="imageUrlArray?.length > 1"
           [autoPlayWaitForLazyLoad]="true">sssssssssssssssss</slideshow> -->
    <!-- // -->
    <!-- <div > -->


    <slideshow [imageUrls]="imageUrlArray" [height]="'550px'" [autoPlay]="true" [showArrows]="false"
        [lazyLoad]="imageUrlArray?.length > 1" [autoPlayWaitForLazyLoad]="true"></slideshow>
    <div class="first">
        <h2 class="first-header">We bring people together. <BR>Love unites them...</h2>
        <!-- <h3>Search as you want</h3> -->
                    <div class="form-wrapper">

            <form>
                <div class="form-row">
                    <div class="form-group col-md-2 col-6"><label class="label" for="lookingFor">I'm looking for
                            a</label>
                        <div class="Dropdown-root">
                            <div class="Dropdown-control" aria-haspopup="listbox">
                                <div class="Dropdown-placeholder is-selected">Woman</div>
                                <div class="Dropdown-arrow-wrapper"><span class="Dropdown-arrow"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-6"><label class="label">aged</label>
                        <div class="ageWrap">
                            <div class="ageFrom">
                                <div class="Dropdown-root">
                                    <div class="Dropdown-control" aria-haspopup="listbox">
                                        <div class="Dropdown-placeholder is-selected">20</div>
                                        <div class="Dropdown-arrow-wrapper"><span class="Dropdown-arrow"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ageTo">to</div>
                            <div class="ageUpto">
                                <div class="Dropdown-root">
                                    <div class="Dropdown-control" aria-haspopup="listbox">
                                        <div class="Dropdown-placeholder is-selected">25</div>
                                        <div class="Dropdown-arrow-wrapper"><span class="Dropdown-arrow"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-6"><label class="label" for="inputPassword4">of religion</label>
                        <div class="Dropdown-root">
                            <div class="Dropdown-control" aria-haspopup="listbox">
                                <div class="Dropdown-placeholder is-selected">Select</div>
                                <div class="Dropdown-arrow-wrapper"><span class="Dropdown-arrow"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-6"><label class="label" for="inputPassword4">and mother
                            tongue</label>
                        <div class="Dropdown-root">
                            <div class="Dropdown-control" aria-haspopup="listbox">
                                <div class="Dropdown-placeholder is-selected">Select</div>
                                <div class="Dropdown-arrow-wrapper"><span class="Dropdown-arrow"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-12 btnWrap"><label class="label btnLable"
                            for="inputPassword4">&nbsp;</label><button data-testid="lets_begin" type="button"
                            class="btn btn-primary form-control brand">Let's Begin</button></div>
                </div>
            </form>

        </div>
        </div>
    </div>

    <div>
        <h2 class="text-center my-5" style="color: brown;">Christian Matrimonials Happy Stories</h2>


        <div class="container">
            <div style="padding: 3% 6%;background-color: aliceblue;">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-6 ">
                        <div id="img-container" style="margin: 20px;">
                            <img id="image" src="../../assets/img/1.png" width="100%" height="100%">
                        </div>
                    </div>
                    <div class="details col-lg-6 col-md-6 col-sm-6 ">
                        <div>
                            <h2>Found My Love</h2>
                            <span>24th Feb, 2018</span>
                            <p>Really a great thanks to this Angel Matrimonial which is the site where I found my
                                perfect
                                life
                                partner. We didn't expect that we will become life partners but it was the belief in
                                both of
                                us
                                which made it happen and once again thanks to this Christian matrimonials for making us
                                together.</p>
                            <button class="btn btn-primary" onclick="">read more</button>
                        </div>
                    </div>
                </div>
                <div class="row" style="background-color: aliceblue;">
                    <div class="details col-lg-6 col-md-6 col-sm-6">
                        <h2>Found My Love</h2>
                        <span>24th Feb, 2018</span>
                        <p>Really a great thanks to this Angel Matrimonial which is the site where I found my perfect
                            life
                            partner. We didn't expect that we will become life partners but it was the belief in both of
                            us
                            which made it happen and once again thanks to this Christian matrimonials for making us
                            together.</p>
                        <button class="btn btn-primary" onclick="">read more</button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 ">
                        <!-- style="border: 1px solid #00000014" -->
                        <div id="img-container" style="margin: 20px;">
                            <img id="image" src="../../assets/img/1.png" width="100%" height="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <!-- <div data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
                        <div><h3>1</h3></div>
                        <div><h3>2</h3></div>
                        <div><h3>3</h3></div>
                        <div><h3>4</h3></div>
                        <div><h3>5</h3></div>
                        <div><h3>6</h3></div>
                      </div> -->
            <h2 class="text-center my-5" style="color: brown;">Our PortFolio</h2>
            <div class="container">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card" style="width: 22rem;">
                                        <div id="img-container">
                                            <img id="image"
                                                src="https://www.ieplads.com/mailers/2016/jeevansathi/js-lp-21sept/images/js1.jpg"
                                                width="100%" height="100%">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Aparna weds Ramesh</h5>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk
                                                of the card's content.</p>
                                            <a class="blink btn btn-primary" style="color: white;">Know More ></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card" style="width: 22rem;">
                                        <div id="img-container">
                                            <img id="image"
                                                src="https://www.ieplads.com/mailers/2016/jeevansathi/js-lp-21sept/images/js1.jpg"
                                                width="100%" height="100%">
                                        </div>

                                        <div class="card-body">
                                            <h5 class="card-title">Aparna weds Ramesh</h5>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk
                                                of the card's content.</p>
                                            <a class="blink btn btn-primary" style="color: white;">Know More ></a>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="card" style="width: 22rem;">
                                        <div id="img-container">
                                            <img id="image"
                                                src="https://www.ieplads.com/mailers/2016/jeevansathi/js-lp-21sept/images/js1.jpg"
                                                width="100%" height="100%">
                                        </div>

                                        <div class="card-body">
                                            <h5 class="card-title">Aparna weds Ramesh</h5>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk
                                                of the card's content.</p>
                                            <a class="blink btn btn-primary" style="color: white;">Know More ></a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" style="width: 22rem;">
                                    <div id="img-container">
                                        <img id="image"
                                            src="https://www.ieplads.com/mailers/2016/jeevansathi/js-lp-21sept/images/js1.jpg"
                                            width="100%" height="100%">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Richard Loves</h5>
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk
                                            of the card's content.</p>
                                        <a class="blink btn btn-primary" style="color: white;">Know More ></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="width: 22rem;">
                                    <div id="img-container">
                                        <img id="image"
                                            src="https://www.ieplads.com/mailers/2016/jeevansathi/js-lp-21sept/images/js1.jpg"
                                            width="100%" height="100%">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Richard Loves</h5>
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk
                                            of the card's content.</p>
                                        <a class="blink btn btn-primary" style="color: white;">Know More ></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="width: 22rem;">
                                    <div id="img-container">
                                        <img id="image"
                                            src="https://www.ieplads.com/mailers/2016/jeevansathi/js-lp-21sept/images/js1.jpg"
                                            width="100%" height="100%">
                                    </div>

                                    <div class="card-body">
                                        <h5 class="card-title">Aparna weds Ramesh</h5>
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk
                                            of the card's content.</p>
                                        <a class="blink btn btn-primary" style="color: white;">Know More ></a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="carousel-item">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" style="width: 22rem;">
                                    <div id="img-container">
                                        <img id="image"
                                            src="https://www.ieplads.com/mailers/2016/jeevansathi/js-lp-21sept/images/js1.jpg"
                                            width="100%" height="100%">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Richard Loves</h5>
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk
                                            of the card's content.</p>
                                        <a class="blink btn btn-primary" style="color: white;">Know More ></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="width: 22rem;">
                                    <div id="img-container">
                                        <img id="image"
                                            src="https://www.ieplads.com/mailers/2016/jeevansathi/js-lp-21sept/images/js1.jpg"
                                            width="100%" height="100%">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">salsaksjais</h5>
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk
                                            of the card's content.</p>
                                        <a class="blink btn btn-primary" style="color: white;">Know More ></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="width: 22rem;">
                                    <div id="img-container">
                                        <img id="image"
                                            src="https://www.ieplads.com/mailers/2016/jeevansathi/js-lp-21sept/images/js1.jpg"
                                            width="100%" height="100%">
                                    </div>

                                    <div class="card-body">
                                        <h5 class="card-title">Aparna weds Ramesh</h5>
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk
                                            of the card's content.</p>
                                        <a class="blink btn btn-primary" style="color: white;">Know More ></a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
        <footer class="page-footer font-small mt-5"
            style="background-color: #5A5A5A;color:white !important;font-family: cursive;">

            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Grid row -->
                <div class="row" style="padding: 5% 0%;">

                    <!-- Grid column -->
                    <div class="col-md-4 mx-auto">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>
                        <p>ChristianMatrimony.com is part of CommunityMatrimony which has over 300+ Indian community
                            portals offering online matrimonial services. Register with us for FREE to find a partner
                            from your own community. Take advantage of our user friendly search features to find a bride
                            or groom who matches your preferences. Join us and begin your happy journey today.. <a> more
                                »</a></p>
                        <!-- <ul class="list-unstyled">
                    <li>
                      <a href="#!">Very long link 1</a>
                    </li>
                    <li>
                      <a href="#!">Very long link 2</a>
                    </li>
                    <li>
                      <a href="#!">Very long link 3</a>
                    </li>
                    <li>
                      <a href="#!">Very long link 4</a>
                    </li>
                  </ul> -->

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-4 mx-auto">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Help & Support</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">24x7 Live help</a>
                            </li>
                            <li>
                                <a href="#!">Contact Us</a>
                            </li>
                            <li>
                                <a href="#!">Feedback</a>
                            </li>
                            <li>
                                <a href="#!">FAQs</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-4 mx-auto">

                        <!-- Links -->
                        <h5 class="text-uppercase mt-3 mb-4">Quick Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Upgrade</a>
                            </li>
                            <li>
                                <a href="#!">Success Story</a>
                            </li>
                            <li>
                                <a href="#!">Safe Matrimony</a>
                            </li>
                            <li>
                                <a href="#!">Popular Matrimonial Searches</a>
                            </li>
                            <li>
                                <a href="#!">Terms and Conditions</a>
                            </li>
                            <li>
                                <a href="#!">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->

                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> christainmatrimony.com</a>
            </div>
            <!-- Copyright -->
        </footer>
    </div>