<div class="container-fluid">
        <!-- <div id="mySidenav" class="sidenav">
                <a href="#" id="about">About</a>
                <a href="#" id="blog">Blog</a>
                <a href="#" id="projects">Signup</a>
                <a href="#" id="login" (click)="isSignup= true">Login</a>
                <a href="#" id="contact">Contact</a>
            </div> -->
    <!-- <div style="height: 640px;">
        <slideshow [imageUrls]="imageUrlArray"
        [height]="'525px'"
           [minHeight]="'525px'"
           [autoPlay]="true"
           [showArrows]="false"
           [lazyLoad]="imageUrlArray?.length > 1"
           [autoPlayWaitForLazyLoad]="true">sssssssssssssssss</slideshow> -->
         <!-- // -->
         <div style="height: 640px;">
        <div >
                <slideshow [imageUrls]="imageUrlArray"
                [height]="'525px'"
                   [minHeight]="'525px'"
                   [autoPlay]="true"
                   [showArrows]="false"
                   [lazyLoad]="imageUrlArray?.length > 1"
                   [autoPlayWaitForLazyLoad]="true"></slideshow>
                   <h2 class="first">We bring people together. <BR>Love unites them...</h2>
        </div>
         </div>





    </div>
